{% load static %}
<html>
<head>

    <link rel="stylesheet" href="{% static 'management/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'management/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'management/css/font-awesome.min.css' %}">

    <script src="{% static 'management/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'management/js/custom.js' %}"></script>
    <script src="{% static 'management/js/jquery.min.js' %}"></script>




{%block index%}
{%endblock%}
</html>